h1{
 

}

header {
    background-color:rgb(230, 230, 230);
    color: rgb(130, 243, 164);
    margin: -10px;
    padding: 5px;
    margin-top: -20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:oblique;
    
    
    
}
#logo   {
    text-align: center;
    background-color: rgb(194, 97, 194);
    border-radius: 20px;
    margin-left: 480px;
    margin-right: 480px;
    box-shadow: 3px 3px 3px rgba(0, 255, 255, 0.849);
    padding: 10px 5px;
    -webkit-text-stroke: 1.5px black;
    border: 2px solid black;
    animation-play-state:paused;
    
}
#logo:hover{
     animation-play-state:running;
    animation-name: breathe;
    
    animation-duration: 2s;
    
}

@keyframes breathe  {
    0% {color:rgb(130, 243, 164)}
    33% {color:rgb(209, 38, 32)}
    50% {letter-spacing: 20px;}
    66%    {color:white}
    100% {color: rgb(130, 243, 164)}
    
}

body{
    background-color: rgb(230, 230, 230);
}

#game   {
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(64, 224, 171);
    border-radius: 40px;
    border: 4px solid black;
    box-shadow: 5px 5px 3px 3px ;
}
.box    {
    width: 233px;
    height:233px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
}


.column:nth-child(1)   {
    border-right: 5px solid black;
}
.column:nth-child(3)   {
    border-left: 5px solid black;
}

#one    {
    border-bottom: 5px solid black;
}
#two    {
    border-bottom: 5px solid black;
}
#three    {
    border-bottom: 5px solid black;
}
#seven    {
    border-top: 5px solid black;
}
#eight    {
    border-top: 5px solid black;
}
#nine    {
    border-top: 5px solid black;
}


#totalcontainer {
    margin-top: 0px;
    display:flex;
    justify-content: center;
}



#singlePlayer{
    width: 147px;
    margin-bottom: -500px;
}

#twoPlayer{
    width: 147px;
    margin-top: 40px;
}

#admitDefeat{
    color:red;
    background-color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 00px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #7777
}

#admitDefeat:hover{
    color:rgb(18, 193, 206);
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.467)
}